@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* 
red: #E63946
LIGHT:#F1FAEE
AQUA:#A8DADC
LIGHTBLUE:#457B9D
DARKBLUE:#1D3557

*/

body{
    min-height: 100vh;
    font-family: "Open Sans", sans-serif;
    background: #F1FAEE;
}

header{
    position: relative;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('./images/ph-city.jpg');
    height: calc(100vh - 50vh);
    width: 100%;
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #f6f6ff;
    text-transform: capitalize;

    & h1{
        background-color: #457B9D;
        padding: .25em;
        border-radius: .2em;
    }

    & p{
        background-color: #1D3557;
        padding: .15em;
        margin-top: 1em;
        border-radius: .2em;
    }
}

main{
    min-height: calc(100vh - 45vh);
}
article{
    font-size: 1.55rem;

}

main h2{
    text-align: center;
    margin: 1.4em 0;
}

#spots{
    /* background-color: #A8DADC; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1.5em;
    padding: 1.4em;
    width: 100%;
}

.spot{
    width: 30%;
    text-align: center;
    & img{
        width: 400px;
        max-width: 100%;
        aspect-ratio: 16 / 9;
        object-fit: cover;
        border-radius: 18px;
        display: block;
        margin: 0 auto 1.22em auto;
    }
    & h3{
        margin-bottom: 1.25em;
        font-weight: 700;
        font-size: 1.35rem;
    }
    & p{
        line-height: 1.1;
        width: 300px;
        margin: 0 auto;
    }
}

#guide{
    padding: 1.5em 0;
    background-color: #FFF;

    & .wrapper{
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 1.2em;
        background-color: #A8DADC;
        border-bottom: 3px solid #1D3557;
        border-radius: .25em;
        margin: 1em auto;
        width: 30%;
        padding: .9em;
    }
    & .img-item{
        height: 200px;
        width: 200px;
        aspect-ratio: 16 / 9;
        object-fit: contain;
    }
    .item-two{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100px;
        text-align: center;
        max-width: 300px;
        gap: 1em;
    }
}
